aside {
    display: flex;
    float: left;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    padding: 0;
    padding-top: calc(6rem);
    margin: 0;
    border-right: 2px solid #000;
}

.show-chats {
    display: none;
    position: absolute;
    margin-top: 8.1rem;
    border: 1px solid #000;
    background: #fff;
    color: #000;
}

.all-chats {
    text-decoration: none;
    height: 100%;
    overflow-y: scroll;
    list-style: none;
}

.chat {
    display: flex;
    margin: 1vw;
}

.all-chats a {
    text-decoration: none;
    color: #000;
    font-size: 1.5vw;
    font-weight: bold;
}

.chat span {
    margin: auto 1vw;
}

.chat img {
    width: 6vw;
    height: 6vw;
    object-fit: cover;
    border-radius: 100px;
}

body {
    margin: 0;
    overflow: none;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}

.send {
    height: 3.1rem;
}

#messages {
    height: 100%;
    height: fit-content;
    padding: 10px;
    padding-top: 8rem;
    padding-bottom: 5.5rem;
    background-color: #f6f9ff;
    overflow-y: scroll;
}

main {
    height: 100vh;
    margin: 0;
}

#messages {
    text-decoration: none;
    height: 100%;
    overflow-y: scroll;
    list-style: none;
}

form {
    display: flex;
    margin: 0;
    padding: 0;
    width: 76%;
    margin-left: 22%;
    align-items: center;
    justify-content: center;
    background: transparent;
}

input {
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px 5px;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#message {
    width: 80vw;
}

.msg {
    max-width: 60%;
    color: #4169E1;
    background-color: #F5F5F5;
    padding: 5px 10px;
    border-radius: 20px 15px 10px 0px;
    margin-bottom: 8px;
    width: fit-content;
}

.close {
    display: none;
}

.msg p {
    margin: 0;
    font-weight: bold;
}

.msg span {
    font-size: 0.7rem;
    margin-left: 15px;
}

.your {
    background-color: #4169E1;
    color: #F5F5F5;
    border-radius: 20px 15px 0px 10px;
    padding: 5px 10px;
    margin-bottom: 8px;
    width: fit-content;
    max-width: 60%;
}

.your p {
    margin: 0;
    font-weight: bold;
}

.your span {
    font-size: 0.7rem;
    margin-left: 15px;
}

#last {
    background: #fff;
    color: #000;
}

.hide {
    display: none!important;
}

.fixed-top {
    z-index: 1035!important;
}

@media(max-width: 992px) {
    .show-chats {
        display: block;
    }
    .show {
        display: block!important;
        z-index: 1031;
        position: absolute;
        background: #fff;
        width: 100%;
        border-right: 0.5px solid #000;
    }
    .close-list {
        display: block;
    }
    .chat img {
        width: 25%;
        height: 25%;
    }
    .close {
        display: block!important;
    }
    .all-chats a {
        text-decoration: none;
        color: #000;
        font-size: 5%;
        font-weight: bold;
    }
}